.admin-reviews {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 60px;
  }

  &__link {
    display: inline-block;
    height: 100%;
    padding: 18px 40px;
    line-height: 1.15;
    font-size: 16px;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    transition: color 0.4s, border 0.4s;

    &--active {
      pointer-events: none;
      color: $accent;
      border-color: $accent;
    }

    &:hover {
      border-color: $accent;
    }

    &:active {
      color: $accent;
      border-color: $accent;
    }
  }

  &__list {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);

    &--sticky {
      margin-bottom: 30px;
    }
  }

  &__item {
    padding: 30px 20px;
    background-color: #f6f6f6;
    box-shadow: none;
  }

  &__control {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__btn {
    padding: 14px 50px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: color .4s, background-color .4s, border .4s;
  }

  &__content {
    position: relative;
  }

  &__save {
    opacity: 0;
    pointer-events: none;
    position: sticky;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: all .4s;
  }

  .approve-btn {
    border-color: #0e8062;
    background-color: #0e8062;
    color: $white;

    &:hover {
      background-color: transparent;
      color: $black;
    }
  }

  .delete-btn {
    border-color: #570a0a;
    background-color: #570a0a;
    color: $white;

    &:hover {
      background-color: transparent;
      color: $black;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      height: 0;
      padding: 0;
      margin: 0;
    }
  }

  .fade-out {
    animation: fadeOut 0.3s ease forwards;
  }

  @keyframes shiftDown {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100px);
      opacity: 0;
    }
  }

  .shift-down {
    animation: shiftDown 0.3s ease forwards;
  }
}