.admin-users {
  &__btn {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    padding: 19px 40px;
    border: 1px solid #959c9b;
    line-height: 1;
    transition: border 0.4s, background-color 0.4s, opacity 0.4s, color 0.4s;
    margin-bottom: 50px;
    border-radius: 4px;

    &:hover {
      color: $accent;
      background-color: #3d1522;
    }

    &:active {
      opacity: .5;
    }
  }

  &__search {
    margin-bottom: 30px;
    max-width: 460px;

    input {
      max-width: 100%;
      border-color: $accent;

      &::placeholder {
        transition: color .4s;
      }

      &:hover {
        &::placeholder {
          color: $black;
        }
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  &__item {
    padding: 20px 0;
    border-radius: 8px;
    background-color: #262626;
    color: #f3f3f3;
    box-shadow: 0 6px 20px 0 rgba($accent, .05);
  }

  &__login {
    padding: 0 20px;
    font-size: 20px;
    margin-bottom: 5px;

    span {
      color: $accent;
    }
  }

  &__edit {
    display: inline-block;
    margin: 0 20px 30px;
    font-size: 16px;
    transition: color .4s, opacity .4s;

    &:hover {
      color: #8297ff;
    }

    &:focus {
      opacity: .5;
    }
  }

  &__content {
    padding: 0 20px;
    @include flex-column(5);
    margin-bottom: 15px;
  }

  &__actions {
    border-top: 1px solid #595959;
    padding: 20px 20px 0;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__action {
    border-radius: 3px;
    border: 1px solid #6b7170;
    padding: 13px 0;
    transition: color .4s, border .4s, background-color .4s, opacity .4s;

    &:active {
      opacity: .5;
    }

    &--reset {
      &:hover {
        background-color: #2db790;
        border-color: transparent;
      }
    }

    &--delete {
      &:hover {
        background-color: #f94747;
        border-color: transparent;
      }
    }

    &--long {
      pointer-events: none;
      padding: 0;
      border: transparent;
      grid-column: span 2;
    }
  }
}

.admin-edit {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    grid-gap: 50px 30px;
    margin-bottom: 20px;
  }

  &__item {
    @include flex-column(5);
  }
}