@import 'admin-category';
@import 'admin-products';
@import 'admin-warning';
@import 'admin-add-product';
@import 'admin-users';

.admin {
  padding-bottom: 30px;

  &__header {
    background-color: #202020;
    color: $white;
    padding: 30px 0;
    margin-bottom: 60px;
  }

  &__navigation {
    &-inner {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 45px;
    }

    &-link {
      transition: color .4s, opacity .4s;
      font-size: 18px;
      position: relative;

      &::before {
        @include pseudo;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $accent;
        transition: width .4s;
      }

      &:hover {
        color: $accent;

        &::before {
          width: 100%;
        }
      }

      &:active {
        opacity: .6;
      }

      &--active {
        pointer-events: none;
        color: $accent;

        &::before {
          width: 100%;
        }
      }
    }
  }

  &__title {
    font-size: 38px;
    margin-bottom: 20px;
    font-weight: 500;

    &--bottom {
      margin-bottom: 30px;
    }
  }

  &__btn {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    padding: 19px 40px;
    border: 1px solid #959c9b;
    line-height: 1;
    transition: border .4s, background-color .4s, opacity .4s, color .4s;
    margin-bottom: 50px;
    border-radius: 4px;

    &:hover {
      border-color: $accent;
      color: $accent;
    }

    &:active {
      opacity: .5;
    }

    &--categories {
      margin-bottom: 30px;

      &:hover {
        background-color: #3d1522;
        border-color: transparent;
      }
    }
  }

  &__breadcrumbs {
    margin-bottom: 20px;
  }
}