.control {
  &__title {
    margin-bottom: 48px;
  }

  &__img {
    @include objectCoverBg;
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 800px;
    line-height: 1.5;
  }

  ol {
    counter-reset: ol-counter;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      counter-increment: ol-counter;
      position: relative;
      display: table;

      &::before {
        content: counters(ol-counter, ".") ".";
        color: currentColor;
        font-weight: 700;
        padding-right: 6px;
      }
    }
  }
}