.control {
  &__title {
    margin-bottom: 48px;
  }

  &__img {
    @include objectCoverBg;
    margin-bottom: 50px;
  }

  &__content {
    @include flex-column(26);
    max-width: 800px;
    line-height: 1.5;
  }

  ol {
    li {
      &::before {
        display: inline-table;
      }
    }
  }
}