.products {
  &__title {
    margin-bottom: 28px;
  }

  &__benefits {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-right: 30px;
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: 16px;
      position: relative;

      &::before {
        @include top50;
        @include pseudo;
        @include bg;
        left: 0;
        width: 13px;
        height: 10px;
        background-image: url("/public/static/images/icons/check.svg");
      }
    }
  }
}
