.label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

.input {
  padding: 16px 15px;
  display: block;
  max-width: 380px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #b8c1c0;
  background-color: $white;
  transition: border .4s;

  &:hover {
    border-color: #fca3ac;
  }

  &--textarea {
    min-height: 160px;
    resize: none;
  }
}

.error {
  color: #ff3939;
  display: none;
  font-size: 16px;
  &:not(:last-child) {
    margin-bottom: 3px;
  }

  &--active {
    display: block;
  }
}

.textarea {
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
}